[submodule "minirt/get_next_line"]
	path = minirt/get_next_line
	url = https://github.com/AniIvanyan/get_next_line
[submodule "minirt/libft"]
	path = minirt/libft
	url = https://github.com/AniIvanyan/libft
